.block10 h2{
	text-align: center;
    margin-top: 0;
}
.block10_container_header{
	text-align: center;
	color: var(--grey);
	width: 740px;
	max-width: 100%;
	padding: 0 15px;
	margin: auto;
	margin-bottom: 40px;
}
.slick_slide{
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	max-width: 290px;
    float: left;
    height: 100%;
    min-height: 1px;
	margin-left: 10px;
	margin-right: 10px;
}
.slick_slide img {
    display: block;
	width: 100%;
}
.slick_slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
}
#slider2{
	margin-top: 20px;
	margin-left: -10%;
}